/**
 * Custom variables import before the default bootstrap stylesheet. When
 * Bootstrap gets upgraded, you can simply replace the Bootstrap stylesheet with
 * the new one and your custom styles will remain untouched.
 *
 * Note that for major upgrades, you may need to modify your custom styles.
 *
 * Another reason to proceed in this way is that it’s much easier to keep track
 * of your changes and revert back to default styles if necessary. If you make
 * changes directly to the default stylesheet, it becomes very difficult to
 * maintain and keep track of changes. Never touch bootstrap :)
 *
 * @copyright ©2011-2015 CreITive (http://www.creitive.rs)
 */

/**
 * Typography.
 */

/**
 * Font family.
 */
$font-family-base: "Raleway", Arial, sans-serif;

/**
 * Buttons.
 */
$btn-primary-color: $btn-primaryColor;
$btn-primary-bg: $btn-primaryBgColor;
$btn-primary-border: $btn-primaryBorder;

/**
 * Default buttons.
 */
$btn-default-color: $btn-defaultColor;
$btn-default-bg: $btn-defaultBgColor;
$btn-default-border: $btn-defaultBorder;
