/**
 * Front-end variables.
 *
 * @copyright ©2011-2015 CreITive (http://www.creitive.rs)
 */

/**
 * Primary and secondary front-end colors.
 */

$color-primary: map-get($colors--project, "blue");
$color-secondary: map-get($colors--project, "gray");

/**
 * Button colors.
 */
$btn-primaryColor: #fff;
$btn-primaryBgColor: transparent;
$btn-primaryBorder: #fff;

$btn-defaultColor: $color-secondary;
$btn-defaultBgColor: #fff;
$btn-defaultBorder: transparent;
