/**
 * Raleway.
 *
 * @copyright ©2011-2015 Libek (http://libek.org.rs.rs)
 */

@font-face {
    font-family: "Raleway";
    src: url("/fonts/raleway/light/webfont.eot");
    src: url("/fonts/raleway/light/webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/raleway/light/webfont.woff2") format("woff2"),
         url("/fonts/raleway/light/webfont.woff") format("woff"),
         url("/fonts/raleway/light/webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/raleway/bold/webfont.eot");
    src: url("/fonts/raleway/bold/webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/raleway/bold/webfont.woff2") format("woff2"),
         url("/fonts/raleway/bold/webfont.woff") format("woff"),
         url("/fonts/raleway/bold/webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
