/**
 * Project font size definitions.
 *
 * @copyright ©2011-2015 CreITive (http://www.creitive.rs)
 */

$font-sizes: (
	base: (
		lg: 34px,
		md: 32px,
		sm: 30px,
		xs: 28px
	),
	large: (
		lg: 44px,
		md: 42px,
		sm: 40px,
		xs: 38px
	)
);
