/**
 * Button styles.
 *
 * @copyright ©2011-2015 CreITive (http://www.creitive.rs)
 */

.btn-primary {
    padding: 12px 48px;

    border-width: 3px;

    font-size: 24px;
    font-weight: bold;

    text-transform: uppercase;

    &:hover {
        border-color: $color-primary;
        color: $color-primary;

        @include transition(all 0.15s ease 0s);
    }
}
