/**
 * Home page courses styles.
 *
 * @copyright ©2011-2015 CreITive (http://www.creitive.rs)
 */

@import "breakpoint-slicer";
@import "compass/css3/flexbox";

.courses {
    color: #fff;

    text-align: center;
}

.courses-row {
    @include display-flex;
}

.courses-row--large {
    @include to(2) {
        @include flex-direction(column);
    }
}

.courses-row--small {
    @include to(1) {
        @include flex-direction(column);
    }
}

.course {
    @include flex(1);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.course--large {
    padding: 64px 128px;

    @include to(1) {
        padding: 32px 16px;
    }
}

.course--small {
    padding: 64px;

    //@include display-flex;
    @include align-items(center);
    @include justify-content(center);

    @include at(2) {
        padding: 32px;
    }
}

.course-title--small {
    @include at(2) {
        font-size: 18px;
    }

    @include at(3) {
        font-size: 24px;
    }
}

.course--friedman {
    background-image: url("/images/courses/friedman-bg.jpg");
}

.course--rand {
    background-image: url("/images/courses/rand-bg.jpg");
}


.course--research {
    background-image: url("/images/courses/research-bg.jpg");
}


.course--policy {
    background-image: url("/images/courses/policy-bg.jpg");
}

.course-image {
    margin: 32px;
}
