/**
 * Home page info styles.
 *
 * @copyright ©2011-2015 CreITive (http://www.creitive.rs)
 */

.info {
    padding: 32px;

    color: $color-secondary;

    text-align: center;

    @include to(1) {
        padding: 32px 0;
    }
}
