.course--small--alp6 {
    padding: 64px;
    display: -webkit-flex;
    display: inline-block;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.coursesIntro--alp6 {
    padding-bottom: 150px;
    padding-top: 54px;
    background: url("/images/creative-program.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.researchIntro--alp6 {
    padding-bottom: 150px;
    padding-top: 54px;
    background: url("/images/research-program.jpg");
    background-position: 0% 83%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.course--journalism--alp6 {
    background-image: url("/images/courses/journalism.jpg");
}

.course--debate--alp6 {
    background-image: url("/images/courses/debate.jpg");
}

.text-course{
    margin-top: 0px;
}

.courses-row-height{
    /*height: 450px;*/
}
