/**
 * Buttons for admin panel
 *
 * @copyright ©2011-2015 CreITive (http://www.creitive.rs)
 */
.btnUserContainer,
.btnLanguageContainer {
	margin-bottom: 5px;
}

.btn:active,
.btn:focus,
.btn {
	box-shadow: none;
	border-radius: 0;
	outline: 0;
}

/**
 * Buttons for add, confirm and cancel changings
 */
.itemList-cancelLink,
.itemList-confirmLink,
.itemList-createLink {
	@include to(1) {
		width: 35px;
		height: 35px;

		padding: 0px;

		line-height: 35px;
		text-align: center;
	}
}

@import "compass/css3/animation";
@import "compass/css3/transform";
@import "compass/css3/transition";
/**
 * Buttons ripples effect
 */
.rippleButton {
	position: relative;
	overflow:hidden;
}

.rippleButton-effect {
	position: absolute;

	border-radius: 50%;

	width: 50px;
	height: 50px;

	background: white;

	@include animation(animate--ripple 1s);
}

/**
 * Ripple effect
 */
@-webkit-keyframes animate--ripple {
	from {
		@include scale(1);
		opacity: 0.4;
	}
	to {
		@include scale(100);
		opacity: 0;
	}
}

@keyframes animate--ripple {
	from {
		@include scale(1);
		opacity: 0.4;
	}
	to {
		@include scale(100);
		opacity: 0;
	}
}
