/**
 * Form styles.
 *
 * @copyright ©2011-2015 CreITive (http://www.creitive.rs)
 */

/**
 * When inline radios are listed, each of the radio inputs has its own label. In
 * these cases, its helpful to have a label that identifies what the user is
 * choosing with the radio buttons.
 *
 * For example, a user may have "Male" or "Female" options - each of which would
 * be a label connected to a unique radio input - so there should also be a
 * label "Sex" which isn't connected to any inputs, but explains the actual
 * choice presented to the user.
 *
 * There are other solutions to this, such as using a `<fieldset>` in
 * combination with the `<legend>` element, but that isn't always appropriate.
 */
.label--radios {
	display: block;
}

.control-label {
	cursor: pointer;
}
